body{
  margin-bottom:30px !important;
}

.help-cont
{
  height:calc(100% - 100px);
  min-height:calc(100% - 100px);
  max-height:calc(100% - 100px);
}
/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 100%; /* Set a default minimum width */
  background-color: #333; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 0; /* Center the snackbar */
  bottom: 0; /* 30px from the bottom */
  z-index:999999999999999999999;
}

#nav-footer {
  min-width: 100%; /* Set a default minimum width */
  background-color: #17a2b8; /* Black background color */
  color: #fff; /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 0; /* Center the snackbar */
  bottom: 0; /* 30px from the bottom */
  z-index:8888888;
}

.nav-footer-link
{
  width:49%;
  display:inline-block;
  text-align:center;
  cursor:pointer;
  color: #fff;
  padding:10px;
  
}

.nav-footer-link:hover, .nav-footer-link:active{
  background-color: #0a6977;
}

.nav-footer-link i{
  font-size:15px;
}



/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 3.5s;
  animation: fadein 0.5s, fadeout 0.5s 3.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: -30px; opacity: 0;} 
  to {bottom: 0; opacity: 0.8;}
}

@keyframes fadein {
  from {bottom: -30px; opacity: 0;}
  to {bottom: 0; opacity: 0.8;}
}

@-webkit-keyframes fadeout {
  from {bottom: 0; opacity: 0.8;} 
  to {bottom: -30px; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 0; opacity: 0.8;}
  to {bottom: -30px; opacity: 0;}
}