<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html>

<head>
    <!--
        Customize this policy to fit your own app's needs. For more guidance, see:
            https://github.com/apache/cordova-plugin-whitelist/blob/master/README.md#content-security-policy
        Some notes:
            * gap: is required only on iOS (when using UIWebView) and is needed for JS->native communication
            * https://ssl.gstatic.com is required only on Android and is needed for TalkBack to function properly
            * Disables use of inline scripts in order to mitigate risk of XSS vulnerabilities. To change this:
                * Enable inline JS: add 'unsafe-inline' to default-src
        -->
    <meta http-equiv="Content-Security-Policy" content="default-src 'self' data: gap: https://ssl.gstatic.com 'unsafe-eval'; style-src 'self' 'unsafe-inline'; media-src *; img-src 'self' data: content:;">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
    <link rel="stylesheet" type="text/css" href="css/index.css">

    <title>Hello World</title>
</head>

<body>
    <div class="app">
        <h1>Apache Cordova</h1>
        <div id="deviceready" class="blink">
            <p class="event listening">Connecting to Device</p>
            <p class="event received">Device is Ready</p>

        </div>
        <hr>
        <p id="geolocation">Watching geolocation...</p>
        <!-- <form id="prfform" enctype="multipart/form-data">
            <input type="text" name="user_id" placeholder="user_id">
            <input type="file" name="photo" placeholder="photo">
            <input type="text" name="location_latitude" placeholder="location_latitude">
            <input type="text" name="location_longitude" placeholder="location_longitude">
            <input type="text" name="text" placeholder="text">

            <input type="submit" id="btn" name="submit">
        </form> -->
        <!-- <input type="file"> -->

        <!-- <button onclick="onDeviceReadyGeo();">Geolocation</button> <br> -->
        <button onclick="capturePhoto();">Capture Photo</button> <br>
        <button onclick="capturePhotoEdit();">Capture Editable Photo</button> <br>
        <button onclick="getPhoto(pictureSource.PHOTOLIBRARY);">From Photo Library</button><br>
        <button onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">From Photo Album</button><br>


        <button onclick=" recordAudio()">Record</button><br>



        <img style="display:none;width:60px;height:60px;" id="smallImage" src="" />
        <img style="display:none;" id="largeImage" src="" />
        <hr>
        <p id="media">Recording audio...</p>
        <p id="audio_position"></p>

    </div>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript" charset="utf-8">
        $.ajaxSetup({
            headers: {
                'X-CSRF-TOKEN': $('meta[name="csrf-token"]').attr('content')
            }
        });
        // var data = {
        //         email:"anan",
        //         name:"ananthan"
        // };
        // $(document).ready(function(){
        //     alert('hi');
        //      $.ajax({
        //         url: 'http://192.168.1.104:8000/api/helps',
        //         method: "POST",
        //         dataType: 'json',
        //         timeout: 5000,
        //         success: function (data) {
        //             alert('hi There' + JSON.stringify(data));
        //         },
        //         error:function(data, status, errorThrown){

        //             console.log("error "+ JSON.stringify(data));
        //             //console.log("status "+status);
        //             //console.log("errorThrown  "+ errorThrown);

        //             //alert(Object.values(data));
        //         }

        //     });
        // });    

        //Wait for device API libraries to load

        // document.addEventListener("deviceready", onDeviceReady, false);

        // var watchID = null;

        // // device APIs are available
        // //
        function onDeviceReadyGeo() {
            // Throw an error if no update is received every 30 seconds
            alert('hi');
            var options = { timeout: 3000};
            watchID = navigator.geolocation.watchPosition(onSuccessGeo, onErrorGeo, options);
        }

        // onSuccess Geolocation
        //
        function onSuccessGeo(position) {
            var element = document.getElementById('geolocation');
        	alert(position.coords.latitude);
        	alert(position.coords.longitude);
        	console.log(position.coords.latitude);
            element.innerHTML = 'Latitude: '  + position.coords.latitude      + '<br />' +
                                'Longitude: ' + position.coords.longitude     + '<br />' +
                                '<hr />'      + element.innerHTML;

                
        }

            // onError Callback receives a PositionError object
            //
            function onErrorGeo(error) {
                alert('code: '    + error.code    + '\n' +
                      'message: ' + error.message + '\n');
            }







        //camera
        var pictureSource;   // picture source
        var destinationType; // sets the format of returned value

        // Wait for device API libraries to load
        //
        document.addEventListener("deviceready", onDeviceReady, false);

        // device APIs are available
        //
        function onDeviceReady() {
            pictureSource = navigator.camera.PictureSourceType;
            destinationType = navigator.camera.DestinationType;
        }

        // Called when a photo is successfully retrieved
        //
        function onPhotoDataSuccess(imageData) {
            // Uncomment to view the base64-encoded image data
            // console.log(imageData);

            // Get image handle
            //
            var smallImage = document.getElementById('smallImage');

            // Unhide image elements
            //
            smallImage.style.display = 'block';

            // Show the captured photo
            // The in-line CSS rules are used to resize the image
            //
            smallImage.src = "data:image/jpeg;base64," + imageData;
           // alert(btoa("data:image/jpeg;base64," + imageData));
            //    $.ajax({
            //       url: 'http://192.168.1.104:8000/api/helps',
            //       method: "POST",
            //       data:{
            //         name:'ananthan',
            //         user_id:1,
            //         location_latitude:'1.0152852',
            //         location_longitude:'1.0152852', 
            //         text:'hi',
            //         photo: smallImage.src
            //       },
            //       dataType: 'json',
            //       timeout: 5000,
            //       success: function (data) {
            //           alert('hi There' + JSON.stringify(data));
            //       },
            //       error:function(data, status, errorThrown){

            //           alert("error "+ JSON.stringify(data));
            //           //console.log("status "+status);
            //           //console.log("errorThrown  "+ errorThrown);

            //           //alert(Object.values(data));
            //       }

            //   });
        }

        // Called when a photo is successfully retrieved
        //
        function onPhotoURISuccess(imageURI) {
            // Uncomment to view the image file URI
            // console.log(imageURI);

            // Get image handle
            //
            var largeImage = document.getElementById('largeImage');

            // Unhide image elements
            //
            largeImage.style.display = 'block';

            // Show the captured photo
            // The in-line CSS rules are used to resize the image
            //
            largeImage.src = imageURI;
        }

        // A button will call this function
        //
        function capturePhoto() {
            // Take picture using device camera and retrieve image as base64-encoded string
            navigator.camera.getPicture(onPhotoDataSuccess, onFail, {
                quality: 50,
                destinationType: destinationType.DATA_URL
            });
        }

        // A button will call this function
        //
        function capturePhotoEdit() {
            // Take picture using device camera, allow edit, and retrieve image as base64-encoded string
            navigator.camera.getPicture(onPhotoDataSuccess, onFail, {
                quality: 20, allowEdit: true,
                destinationType: destinationType.DATA_URL
            });
        }

        // A button will call this function
        //
        function getPhoto(source) {
            // Retrieve image file location from specified source
            navigator.camera.getPicture(onPhotoURISuccess, onFail, {
                quality: 50,
                destinationType: destinationType.FILE_URI,
                sourceType: source
            });
        }

        // Called if something bad happens.
        //
        function onFail(message) {
            alert('Failed because: ' + message);
        }



        $('#btn').onClick(function () {
            var formData = new formData($('#prfform').files[0]);

            alert(formData);
        });




	//recording


	//  Wait for PhoneGap to load

    // document.addEventListener("deviceready", onDeviceReady, false);

    // Record audio
    //
    var mediaRec  =null;
    function recordAudio() {
        var src = "myrecording.mp3";
         mediaRec = new Media(src, onSuccess, onError);
        ////alert(src);
        // Record audio
        mediaRec.startRecord();

        // Stop recording after 10 sec
        var recTime = 0;
        var recInterval = setInterval(function() {
            recTime = recTime + 1;
            setAudioPosition(recTime + " sec");
            if (recTime >= 5) {
                clearInterval(recInterval);
                mediaRec.stopRecord();
            }
        }, 1000);
    }

    // PhoneGap is ready
    //
    // function onDeviceReady() {
    //     //  recordAudio();
    // }

    // onSuccess Callback
    //
    function onSuccess() {
        alert("recordAudio():Audio Success");
        mediaRec.play();
      // alert(mediaRec);
    }

    // onError Callback 
    //
    function onError(error) {
        alert('code: '    + error.code    + '\n' + 
              'message: ' + error.message + '\n');
    }

    // Set audio position
    // 
    function setAudioPosition(position) {
        document.getElementById('audio_position').innerHTML = position;
    }


    // var pictureSource;   // picture source
    //     var destinationType; // sets the format of returned value
    //     document.addEventListener("deviceready", onDeviceReady, false);

    //     function onDeviceReady() {
    //         pictureSource = navigator.camera.PictureSourceType;
    //         destinationType = navigator.camera.DestinationType;
    //     }

    //     function onPhotoDataSuccess(imageURI) {

    //         var Image = document.getElementById('Image');
    //         var form = document.getElementById('up');
    //         var b1 = document.getElementById('b1');
    //         var b2 = document.getElementById('b2');
    //         Image.style.display = 'block';
    //         form.style.display = 'block';
    //         b1.style.display = 'none';
    //         b2.style.display = 'none';
    //         Image.src = imageURI;
    //         movePic(imageURI);
    //     }

    //     function capturePhoto() {
    //         // Take picture using device camera and retrieve image 
    //         navigator.camera.getPicture(onPhotoDataSuccess, onFail, {
    //             quality: 50,
    //             destinationType: destinationType.FILE_URI,
    //         });
    //     }

    //     function getPhoto(source) {
    //         navigator.camera.getPicture(onPhotoDataSuccess, onFail, {
    //             quality: 50,
    //             destinationType: destinationType.FILE_URI,
    //             sourceType: source
    //         });
    //     }

    //     function onFail(message) {
    //         alert('Failed because: ' + message);
    //     }

    //     /*****************save*****************/

    //     function movePic(file) {
    //         window.resolveLocalFileSystemURI(file, resolveOnSuccess, resOnError);
    //     }
    //     //Callback function when the file system uri has been resolved
    //     function resolveOnSuccess(entry) {
    //         var d = new Date();
    //         var n = d.getTime();
    //         var newFileName = n + ".jpg";
    //         var myFolderApp = "folder";
    //         window.requestFileSystem(LocalFileSystem.PERSISTENT, 0, function (fileSys) {
    //             //creo la cartella geofolder e salvo le foto scattate
    //             fileSys.root.getDirectory(myFolderApp,
    //                 { create: true, exclusive: false },
    //                 function (myFolderApp) {
    //                     entry.moveTo(myFolderApp, newFileName, successMove, resOnError);
    //                     document.forms['up'].foto.value = newFileName;

    //                 },
    //                 resOnError);
    //         },
    //             resOnError);
    //         return newFileName;
    //     }

    //     //Callback function when the file has been moved successfully 
    //     function successMove(entry) {
    //         //Store imagepath in session for future use
    //         // like to store it in database
    //         sessionStorage.setItem('imagepath', entry.fullPath);
    //     }

    //     function resOnError() {
    //         alert(error.code);
    //     }

    //     ////upload///

    //     $("#upload").click(function () {
    //         //some variable

    //         uploadimage(foto);
    //         $.ajax({
    //             type: "POST",
    //             url: "192.168.8.105:8000/api/helps",
    //             data: {

    //             },
    //                 success: function (responce) {
    //                     if (responce == 'success') {
    //                         alert('ok');
    //                     }
    //                     else {
    //                         alert("errore");

    //                     }
    //                 }
    //             });
    //         return false;
    //     });

    //     function uploadimage(foto) {

    //         var Image = document.getElementById('Image').getAttribute("src");

    //         var options = new FileUploadOptions();
    //         options.fileKey = "file";
    //         options.fileName = foto;
    //         options.mimeType = "image/jpeg";

    //         var params = new Object();
    //         params.nome = "test";

    //         options.params = params;
    //         options.chunkedMode = false;

    //         var ft = new FileTransfer();
    //         ft.upload(Image, "192.168.8.105:8000/api/helps", win, fail, options);
    //     }

    //     function win() {
    //         alert("ok bro");
    //     }
    //     function fail() {
    //         alert("not bro");

    //     }

    </script>
</body>

</html>