@import url("../../vendors/@coreui/icons/css/coreui-icons.min.css");
@import url("../../vendors/flag-icon-css/css/flag-icon.min.css");
@import url("../../vendors/font-awesome/css/font-awesome.min.css");
@import url("../../vendors/simple-line-icons/css/simple-line-icons.css");
@import url("../style.css");
@import url("../../vendors/pace-progress/css/pace.min.css");

a:hover
{
    text-decoration: none !important;
}

#loader
{
    position:fixed;
    width: 100%;
    height:100%;
    top:0;
    left:0;
    background: rgba(255,255,255,0.9);
    z-index:99999999;
}

#loader-icon
{
    position:fixed;
    width: 150px;
    height:150px;
    top: 50%;
    left: 50%;
    margin-top: -75px;
    margin-left: -75px;
}

.data-block .card
{
    cursor: pointer;
}

.data-block .card:hover
{
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1), 0 6px 10px 0 rgba(0, 0, 0, 0.09);
}

.app-header
{
    background: linear-gradient(135deg, #315db7 0%, #0ccebc 100%) !important;
}

.content-types
{
    position:absolute;
    right:1%;
    bottom:1%;
    height:20px;
    background:#fff;
}

.icn-content
{
    font-size:12px;
    margin-left:3px !important;
    color:#555;
    margin-bottom:3px;
}

.fa-youtube-play, .fa-globe
{
    font-size:14px;
    padding-top:2px;
    margin-bottom:0px !important;
}

#msgBox
{
    font-weight:bold;
}

.card
{
    margin-bottom:8px;
}

.card-block
{
    height:40px !important;
    max-height:40px !important;
    min-height:40px !important;
    overflow:hidden !important;
}

.card-block-lg
{
    height:60px !important;
    max-height:60px !important;
    min-height:60px !important;
    overflow:hidden !important;
}

.card-block-xl
{
    height:90px !important;
    max-height:90px !important;
    min-height:90px !important;
    overflow:hidden !important;
}

.card-block-sm
{
    height:30px !important;
    max-height:30px !important;
    min-height:30px !important;
    overflow:hidden !important;
}

#searchBar
{
    position: fixed;
    top:0;
    text-align:center;
    height:55px;
    width:100%;
    background: #fff;
    margin:0;
    padding:20;
    display:none;
    outline: none;
}

.search-panel
{
    position: fixed;
    top:0;
    height:35px;
    left:50%;
    width:320px;
    margin-left:-160px;
    padding:10px;
}

#search-input
{
    border:0;
    outline-color: #fff;
    width:260px !important;
    font-size: 20px;
}

#search-input:focus
{
    border-color: #fff !important;
    box-shadow: none !important;
}

.search-close
{
    position: absolute;
    top:3px;
    right:10px;
    background: #eee;
    color: #222;
    border-radius: 10px;
    padding:5px 20px;
    cursor:pointer;
    font-size:20px;
}

/** Floating icons **/
.floating-icon-main
{
    position:fixed;
    bottom:60px;
    right:10px;
    width:50px;
    height:50px;
    background:#333;
    border-radius:50px;
    border: 2px solid #222;
    box-shadow: 0 4px 2px rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

.floating-icon span
{
    color:#fff;
    font-size:25px;
    margin-top:12px;
    margin-left:14px;
}

.floating-icon:hover
{
    background:rgb(0, 123, 180);
    border: 2px solid rgb(0, 122, 221);
}


/** Forms **/
.input-group-text
{
    width:100px;
    text-align:center !important;
    display:block !important;
    font-weight:bold;
    font-size: 11px;
}

.form-control
{
    font-size: 12px;
    padding: 5px;
}

.input-group
{
    margin-bottom: 5px;
}

/** Templates styles overriding **/
html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .main, html:not([dir="rtl"]) .aside-menu-show.aside-menu-fixed .app-footer
{
    margin-right: 0px !important;
}

html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .main, html:not([dir="rtl"]) .sidebar-show.sidebar-fixed .app-footer
{
    margin-left: 0px !important;
}

.aside-menu
{
    width:320px;
}

.aside-menu-fixed .app-header + .app-body .aside-menu
{
    height: calc(100vh - 55px);
}

html:not([dir="rtl"]) .aside-menu
{
    margin-right: -320px;
}

.badge-content
{
    background: green;
    color:#fff;
    margin-right:2px;
    padding:2px 5px;
    font-size:9px !important;
}

.btn-default
{
    background:#eee;
}

.btn-app
{
    font-weight:bold;
    font-size:13px;
}

.title-bar
{
    font-weight:bold;
    width:100%;
    padding:5px;
    text-align:center;
    font-size:14px;
    background:#dff7ff;
    color:#008aca;
}

.title-bar a{
    color:#008aca !important;
}
